*{
    list-style: none;

}
a:hover{
    text-decoration:none;
    color: inherit;
}
a {
    text-decoration:none;
    color: inherit;
}
body{
    background-color: #FAFAFA;
}


/* ********** Página index ********* */

#logo{
    max-width: 45%;
}
#celular{
    max-width: 45%;
}



/* ********** FIm da página index ********* */



.container_cadastrar{
    width: 35%;
}



/* ********** Página Timeline ********* */
.head{
    margin-bottom: 100px;
}
#logo_timiline{
    width: 100px;
}
.input_pesquisa{
    width: 180px;
}
.pesquisa{
    height: 30px;
}

#pagina_home{
    margin-top: 46px;
    background-color: #FAFAFA;
}
.home_icones img{
    width: 22px;
    height: 22px;
    
}
.home_icones ul li a{
    margin-left: -15px;
    margin-right: 0px;
}
.home_icones{

    margin-right: -20px;
}

.resultado_pesquisa{
    position: absolute;
    background-color: #FAFAFA;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 245px;
    max-height: 361px;
    overflow: auto;
    text-align: center;
}
.resultado_pesquisa p{
    color: black;
    margin: 0;
    text-decoration: none;
}
.resultado_pesquisa p:hover{
    color: black;
    padding: 0;
    
}

.start {
    align-items: start;
    text-align: left;
}
.end {
    align-items: end;
    text-align: right;
}
.center {
    align-items: center;
    text-align: center;
}
.post{
    max-width: 620px;
    background-color: white;
    align-items: center;
    
}
.postagem{

    max-width: 620px;
    text-align: center;
    padding-left: 1px;
    padding-right: 4px;
}

.conf_post{
    float: right;
}

.addComentario input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.addComentario input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.addComentario button{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.addComentario button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.addComentario button:hover{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.curtido_por{
    margin: 5px;
    font-size: 14px;
}
.comentarios p{
    margin: 2px;
    font-size: 14px;
}

/* ****** Parte do modal de postagem ***** */

.botaoAddPost{
    width: 25px;
}

.post {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    /*display: inline-block;*/
}

.foto_perfil_post{
    width: 32px;
    height: 32;
}
.foto_perfil_pesquisa_usuario{
    width: 32px;
    height: 32px;
}


div.upload {
    width: 200px;
    height: 57px;
    overflow: hidden;
    position: relative;
    background-color: rgb(33, 106, 241);
    float: left;
}

div.upload input {
    display: block !important;
    width: 200px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: text;
}
.upload user agent stylesheetdiv input[type="button"], .upload input[type="submit"], .upload input[type="reset"], .upload input[type="file"]::-webkit-file-upload-button, .upload button {
    cursor: text !important;
    /* Correção para Botáo Fantasma - forçar cursor:text */
}

.inputFileOverlay {
    position: absolute;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    line-height: 57px;
    text-align: center;
}

.post input.enviar {
    float: left;
    height: 57px;
    background-color: #7B5368;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    padding: 0 17px;
    cursor: pointer;
}

/* ****** Fim da parte do modal de postagem ***** */

/* ********** Fim da página Timeline ********* */


/* ********** Início da página perfil ********* */

.pagina_perfil{
    width: 100%;
    margin-left: auto;
    margin-left: auto;
    margin-top: 46px;
    background-color:#FAFAFA;
}
.pagina_perfil_container{
    max-width: 935px;
}

#foto_perfil{
    width: 150px;
    height: 150px;
}
@media only screen and (max-width: 600px) {
    #foto_perfil{
        width: 77px;
        height: 77px;
    }
  }
.img_config{
    width: 24px;
    height: 24px;
}

.config_perfil{
    border-radius: 8px;
}

.info_bio p{
    margin-bottom: 5px;
}
.posts_perfil a img{
    width: 14px;
    height: 14px;
}
.container_perfil{
    width: 100%;
}

.posts_galeria{
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    
}

.galeria_perfil {
    position: relative;
  }
  .capa {
    display: none;
  }
  
  .galeria_perfil:hover .capa {
    display: flex;
  }
  
  .capa {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
  }
  .capa img{
      width: 20px;
      height: 20px;
  }

#img_perfil_edit{
    display: none;
 }
 

.mostar_curtidas{
    
}

.modal_edit_foto_perfil{
    border-bottom: 1px;
    border-radius: 8px;
}

/* Carregar foto de perfil com o input*/

/*div.upload_foto_perfil {
    width: 100%;
    overflow: hidden;
}*/

.upload_foto_perfil input[type='file'] {
    
}

#img_perfil{
    display: none;
}

/*.upload_foto_perfil user agent stylesheetdiv input[type="button"], .upload input[type="submit"], .upload input[type="reset"], .upload input[type="file"]::-webkit-file-upload-button, .upload button {
    cursor: text !important;
    /* Correção para Botáo Fantasma - forçar cursor:text */
/*}*/

.inputFileOverlay_foto_perfil {
    padding: 10px;
    line-height: 50px;
    text-align: center;
    
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}



/* ********** Fim da página perfil ********* */


/* ********** Início da página user ********* */
.botao_usuario_ok{
    width: 14%;
    padding-top: 4px;
    padding-bottom: 4px;
}
.botao_usuario_ok img{
    width: 20px;
}


/* ********** Fim da página user ********* */


/* ********** Início da página edit ********* */
.pagina_edit{
    margin-top: 75px;
}

.foto_perfil_edit{
    width: 38px;
    height: 38;
}
/* ********** Fim da página edit ********* */



/* ********** Início da página direct ********* */
.direct{
    margin-top: 75px;
    border-radius: 4px;
    height: 697px;
    width: 95%;
}
.direct .users{
    height: 100%;
    /*max-height: 697px;*/
}
.chat{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}
.chat div{
    width: 96px;
    height: 96px;
    border: black 2px solid;
    border-radius: 50px;
}
.chat img{
    width: 50px;
    height: 50px;
}
.inbox_usuario:hover{
    background: #F5F5F5;
}
.area_mensagens{
    height: 590px;
    overflow: auto;
}
.form_mensagem{
    border-radius: 15px;
}
.mensagem{
    border: 1px solid;
    border-radius: 15px 0 0 15px;
}

.nova_mensagem{
    max-width: 400px;
    max-height: 400px;
}

/* Mensagens  */

/* .container {
    position: relative;
    overflow: hidden;
    padding: 0.5em;
  } */
 /*  .avatar {
    width: 150px;
    height: 30px;
    background: rgb(13, 114, 245);
    border-radius: 30px 30px 0% 0%;
    margin-left: 50px;
    position: relative;
    
  }
  .avatar::after {
    content: "";
    position: absolute;
    left: -53px;
    top: 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid #fff;
    background-image: url(http://placecage.com/50/50);
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75), 0 0 0 3px rgba(255,255,255,1.0);
    border-radius: 50%;
    
  } */
  .txt{
    position: relative;
    max-width: 230px;
    height: auto;
    border: 1px solid #efefef;
    border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
    
    font-size: 14px;
  }

 .me{
    float: right;
    clear: both;
}

.me div{
    background: #efefef;
 }
 .you{
    clear: both;
    width: auto; 
 }

/* Fim Mensagens  */


.resultado_pesquisa_direct{
    
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    max-width: 400px;
    max-height: 400px;
    right: 0;
    width: 100%;
    overflow: auto;
    text-align: center;
}
.resultado_pesquisa_direct p{
    color: black;
    margin: 0;
    text-decoration: none;
}
.resultado_pesquisa_direct p:hover{
    color: black;
    padding: 0;
    
}
