/* ********** Página index ********* */

#logo{
    max-width: 45%;
}
#celular{
    max-width: 45%;
}



/* ********** FIm da página index ********* */



.container_cadastrar{
    width: 35%;
}



/* ********** Página Timeline ********* */
#logo_timiline{
    width: 100px;
}


/* ********** Fim da página Timeline ********* */