/* ********** Página index ********* */

#logo{
    max-width: 45%;
}
#celular{
    max-width: 45%;
}



/* ********** FIm da página index ********* */



.container_cadastrar{
    width: 35%;
}



/* ********** Página Timeline ********* */
#logo_timiline{
    width: 100px;
}
.input_pesquisa{
    width: 180px;
}
.pesquisa{
    height: 30px;
}

#pagina_home{
    margin-top: 70px;
}

.start {
    align-items: start;
    text-align: left;
}
.end {
    align-items: end;
    text-align: right;
}
.center {
    align-items: center;
    text-align: center;
}
.post{
    max-width: 620px;
}
.postagem{
    width: 100%;
    max-width: 620px;
}

.addComentario input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.addComentario input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.addComentario button{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.addComentario button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.addComentario button:hover{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/* ********** Fim da página Timeline ********* */